
.trumpton {
  background: #ec8405;
  background-image: -webkit-linear-gradient(top, #ec8405, #995011);
  background-image: -moz-linear-gradient(top, #ec8405, #995011);
  background-image: -ms-linear-gradient(top, #ec8405, #995011);
  background-image: -o-linear-gradient(top, #ec8405, #995011);
  background-image: linear-gradient(to bottom, #ec8405, #995011);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #0f0f0e 2px;
  text-decoration: none;
}

.trumpton:hover {
  background: #995011;
  background-image: -webkit-linear-gradient(top, #995011, #ec8405);
  background-image: -moz-linear-gradient(top, #995011, #ec8405);
  background-image: -ms-linear-gradient(top, #995011, #ec8405);
  background-image: -o-linear-gradient(top, #995011, #ec8405);
  background-image: linear-gradient(to bottom, #995011, #ec8405);
  text-decoration: none;
}
